.navbar .correct {
  animation: .4s correct;
}

.navbar .incorrect {
  animation: .4s incorrect;
}

@keyframes correct {
  0% {
    color: white;
  }

  50% {
    color: #34c63b;
  }

  100% {
    color: white;
  }
}

@keyframes incorrect {
  0% {
    color: white;
  }

  50% {
    color: #e32c2c;
  }

  100% {
    color: white;
  }
}
