.footer {
  background: #ac28ae;
  height: 50px;
  position: relative;
  color: white;
  overflow: auto;
}

.footer > .center {
  position: absolute;
  top: 0; 
  left: 45%;
  background:#ac28ae;
  padding: 8px;
  font-weight: 600;
}

.footer > .center > img {
  background-color: #ac28ae;
  width: 20px;
  position: relative;
  top: 3px;
  left: 2px;
}
